@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Anton', sans-serif;
}

button {
    font-family: 'Anton', sans-serif;
}   
